
.home-page-bgcontainer {
    min-height: 100vh;

}

.home-bg-black {
    min-height: 100vh;
    background-color: black;
}
.wheather-bgcontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 756px) {
    .wheather-bgcontainer {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
}
::-webkit-scrollbar{
    display: none;
}

.nav {
    padding: 2px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid rgb(236, 233, 233);

}

.nav-color {
    background-color: rgb(29, 28, 28);
    color: white;
    border-bottom-style: none;
}

.input {
    padding: 6px;
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-grow: 1;
    
}

@media screen and (min-width: 756px) {
    .input {
        padding: 13px;
    }
}

.search-button {
    border: none;
    outline: none;
    padding: 6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (min-width: 756px) {
    .search-button {
        padding: 13px;
    }
}

.nav-heading {
    font-family: "Roboto";
    margin-left: 10px;
}

.searchbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 272px;
    position: relative;
    border: 1px solid #c0bcbc;
    border-radius: 4px;
}

.card {
    width: 270px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgba(128, 128,128, 0.4);
    padding: 10px;
    background-color: white;
    margin-top: 10px;
}

@media screen and (min-width: 756px) {
    .card {
        width: 300px;
        margin-top: 30px;
        padding-left: 30px;
    }
}

.current-location {
    color: rgb(126, 126, 228);
}

.temperature {
    color: rgb(103, 230, 103);
}

.datetime {
    color: red;

}
.text {
    color: #777;

}
.figers {
    color: black;
}

.switch-button {
    padding: 9px;
    border-radius: 2px;
    border: none;
}

.search-dropdown {
    list-style-type: none;
    padding: 5px;
    max-height: 200px;
    overflow-y: scroll;
    width: 280px;
    position: absolute;
    left: 4%;
    background-color: rgb(250, 220, 243);
    border-radius: 5px;
    box-shadow: 0px 0px 4px #ddd;

}
@media screen and (min-width:576px) {
    .search-dropdown{
        left: 41%;
    }
}

.city-option {
    margin-bottom: 1px;
    padding: 1px;
    border-radius: 3px;
}

.city-option:hover {
    background-color: rgb(240, 186, 85);
}

.multi-city-names {
    border-radius: 5px;
    padding: 10px;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
    background-color: #ddd;
    width: 90%;
}
.citi{
    border-radius: 3px;
    background-color: aliceblue;
    border: none;
    padding: 4px;
    color: #777;
}
.remove-button{
    margin-left: 9px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}
.responseDataModification{
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: left;
}